body {
    flex: 1;
}

.main {
    flex: 1;
    height: 100vh;
    flex-direction: row;
    display: flex;
}

.side-nav-container {
    flex: 1;
    z-Index: 500;
    position: absolute;
}

.side-nav-button {
    display: flex;
    justify-content: flex-end;
    margin-right: 1vw;
}

.result-section {
    flex: 2;
    text-align: center;
    flex-direction: column;
}

.tag-container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}